body {
    background-color: #ffffff;

    margin: 0px;
    padding: 0px;

    font-family: 'Lobster', 'Arial', cursive;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: normal;
    color: #545454;
}

.container {
    width: 1020px;
    margin: auto;
}

/* header */

.page-header {
    background: linear-gradient(to bottom, #fcfcfc 50%, #e2e2e2);
}

.page-header__logo {
    width: 400px;
}

.page-header__menu {
    width: 500px;
}

.page-header__flex,
.page-header__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 0px;
    margin-bottom: 0px;
}

.page-header__title {
    font-size: 49px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-header__title span {
    color: #ff7700;
}

.page-header__item {
    padding-top: 50px;
    padding-bottom: 42px;
    border-bottom: solid 8px transparent;
}

.page-header__item:hover {
    background: linear-gradient(to bottom, #fbfafa, #cdc5c5);
    border-bottom: solid 8px #ff7d00; 
}

.page-header__item  {
    width: 25%;
    height: inherit;

    list-style: none;
    text-align: center;
}

.page-header__text {
    margin: 0px;
}

/* main */

/* form */

.wrapper-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.button-inner {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom, #ff9e00, #ff6900);
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ff6900;
    padding-right: 25px;
    padding-left: 25px;
}

.button-inner:hover,
input[type="submit"]:hover {
    opacity: 0.5;
}

.form-inner__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 23px;
    color: #565555;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    margin-right: 100px;
}

form {
    text-align: center;
    margin-bottom: 70px;
}

input[type="search"] {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    outline: none;
    border: none;
    -webkit-appearance: none;
    vertical-align: middle;
    text-decoration: none;
    border-color: 2px  #000000;
}

.browse input[type="submit"] {
    width: 90px;
    height: 35px;
    border: 1px solid #c1bfbf;
    border-radius: 5px;
    background-color: #c1bfbf;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: #ffffff;
}

.browse {
    width: 450px;
    border: solid 1px #c1bfbf;
    border-radius: 5px;
    margin-right: 20px;
}

/* main - list with img */

.photo-page {
    margin-top: 70px;
}

.photo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.photo-page__inner {
    width: 203px;
    margin-right: 30px;
    margin-bottom: 30px;

    padding: 10px;

    border: solid 1px #b1aeae;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(125, 106, 50, 0.91);
    -moz-box-shadow:    0px 0px 20px 0px rgba(125, 106, 50, 0.91);
    box-shadow:         0px 0px 20px 0px rgba(125, 106, 50, 0.91);
}

.photo-page__list {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.photo-page__list,
.photo-page__text {
    margin: 0px;
}

.photo-page__container:nth-of-type(3) {
    padding-top: 5px;
    padding-bottom: 5px;
}

.photo-page__item:not(:first-of-type) {
    border-radius: 12px;

    background-color: #b1aeae;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}

.photo-page__item:not(:first-of-type):hover {
    background-color: #283e8f;
}

.photo-page__container:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #b1aeae;
}

/* footer */

.page-footer__text {
    text-align: right;
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #8b8a8a;
    padding: 50px 0px;
}
